<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Forgot password email</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
    <!-- use the font -->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
    </style>
</head>
<body>
<p>
    Dear Sir/Madam,
</p>
<br>
<p>
    We got a request to change your password.
</p>

<p>
    Please click on the link below to change your password.
</p>
<p>
    <p th:text="${reset_password_link}"></p>
</p>
<p>
    Please be aware that you have 24 hrs to change your password.  If you do not change your password in 24
    hrs, you will have to send in a new request again.
</p>
<p>
    If you did not ask to change password, please ignore this email.
</p>
<br>
<p>
    Thanking you,
</p>
<p>Government of Nepal Ministry of Finance</p>
<p>Financial Comptroller General Office</p>
<p>Anamnagar, Kathmandu, Nepal</p>
<p>Phone Number : 977-1-4771290</p>
<p>FAX : 977-1-4771291</p>
<p>Email : info@fcgo.gov.np</p>
</body>
</html>